# Better bed fan control that involves telling klipper that the fan isn't actually a fan
# Confusing I know :3

#This is how your bed fan section should look:
[heater_generic bed_fan1]
gcode_id: chamber
heater_pin: pin for your fan
max_power: 1
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin:
control: pid
pid_Kp: 1
pid_Ki: 1 #youll probably need to tune this
pid_Kd: 1
min_temp: 0
max_temp: 79.9

# The sensor will be your chamber sensor

#Then add this to the beginning of your PRINT_START:
{% set CHAMBER_TEMP = params.CHAMBER|float %}
# Don't set it stupidly high c:

# And add this right after the bed temperature set command:
SET_HEATER_TEMPERAURE HEATER=bed_fan1 TARGET={CHAMBER_TEMP}

#Make sure that your PRINT_END also has:
TURN_OFF_HEATERS